@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #e9e1b7;
  color: #293242;
}

h1 {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

.botones {
  /* margin: 20px; */
  /* border: 3px solid black; */
  position: relative;
  display: flex;
  align-items: center;
  height: 85vh;
  justify-content: space-evenly;
}

.custombt {
  width: 50%;
  height: 50%;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

#bt1 {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 3px solid white; */
  position: absolute;
  width: 50%;
  height: 80%;
  top: -1%;
  margin-right: 10rem; /* Añadir margen a la derecha */
  margin-top: 0%;
}

#bt2 {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: center;
  /* border: 3px solid white; */
  position: absolute;
  width: 50%;
  height: 80%;
  top: -1%;
  margin-left: 10rem; /* Añadir margen a la izquierda */
}
