<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPRING EMPLOYEE</title>
    <link rel="stylesheet" href="styleIndex.css"/>
</head>
<body>
<h1>BUSINESS MENU
</h1>
<br/>
<a href="#" onclick="window.location.href='employees/showCreateForm'">Create Employee</a>
<a href="#" onclick="window.location.href='employees'">List Employees</a>
<a href="#" onclick="window.location.href='employees/showSearchForm'">Search Salary</a>
<a href="#" onclick="window.location.href='employees/searchEmployees'">Search Employee</a>
</body>
</html>