body {
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

#cuerpo {
  display: inline-flex;
}
#izquierda {
  text-align: left;
  width: 260px;
}

#derecha {
  width: 700px;
  text-align: left;
}

img {
  width: 80%;
  height: auto;
}

#derecha_h2 {
  text-align: center;
}

#bottom_derecha {
  text-align: justify;
}

#bottom_derecha p {
  display: inline-flex;
  width: 190px;
  margin: 10px;
}
