body {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#izquierda {
  text-align: left;
  float: left;
  width: 25%;
}

#derecha {
  text-align: left;
  float: right;
  width: 75%;
}

img {
  width: 80%;
  height: auto;
}

#derecha_h2 {
  text-align: center;
}

#bottom_derecha {
  text-align: justify;
}

#bottom_derecha p {
  display: inline-block;
  width: 190px;
  margin: 10px;
  vertical-align: top;
}
