body {
  text-align: center;
  width: 60em;
  margin: 0 auto;
}

#izquierda {
  text-align: left;
  float: left;
  width: 16em;
}

#derecha {
  text-align: left;
  float: right;
  width: 44em;
}

img {
  width: 80%;
  height: auto;
}

#derecha_h2 {
  text-align: center;
}

#bottom_derecha {
  text-align: justify;
}

#bottom_derecha p {
  display: inline-block;
  width: 11.875em;
  margin: 0.625em;
  vertical-align: top;
}
