* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.num,
.resul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 2rem;
  width: 20rem;
  height: 20rem;
  font-size: 20rem;
}

.resul {
  border: 1px solid black;
}
