* {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 3px solid red; */
}

.container header {
  text-align: center;
  margin-top: 2rem;
}

.content_wrapper {
  display: flex;
  /* border: 3px solid red; */
  margin: 3.5rem;
  margin-top: 1rem;
  border-top: 2px solid black;
  padding: 20px;
}

.content_wrapper nav {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
}

.content_wrapper nav div {
  padding: 0.7rem;
  padding-right: 4rem;
  font-style: italic;
  font-weight: bold;
}

.articles {
  display: flex;
  justify-content: end;
  border: 3px solid red;
  margin: 3rem;
}

article {
  border: 1px solid black;
  border-radius: 20px;
}

img {
  width: 80%;
  height: 60%;
  border-radius: 15px;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  /* padding: 20px; */
  margin-right: 2rem;
  padding-top: 2rem;
  width: 150rem;
  height: 24rem;
}

main img {
  margin-bottom: 1rem;
}
